<h1><%= @user.name %></h1>
<p><%= link_to "Edit", edit_user_path(@user) %> Details or Password.</p>

<p>EMAIL: <%= @user.email %></p>






MY FAVORITES:<br>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
