<h1><%= @user.name %></h1>
<p><%= link_to "Edit", edit_user_path(@user) %> Details or Password.</p>

<p>email: <%= @user.email %></p>






<p>my favorites:</p><br>
<div class="map">
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
