<div class="content">

  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:q, "Enter tree name:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>

  <!-- MAP GOES HERE -->
  <div class="map">
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

</div>






